<div class="container" id='organization_search' style="display:false;">
  <%= form_tag(results_providers_path, :method => 'post', :class => 'organization_search' ) do %>
    <%= hidden_field_tag :search, :true %>
    <div class="row">
      <h2>Organization Search</h2>
      <div class="span3">
        <%= label_tag :organization, 'Organization Name' %>
        <%= text_field_tag :organization, params[:organization] || '', :class => 'search-field' %>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <%= label_tag :city %>
        <%= text_field_tag :org_city, params[:city] || '', :class => 'search-field' %>
      </div>
      <div class="span3">
        <%= label_tag :state %>
        <%= text_field_tag :org_state, params[:state] || '', :class => 'search-field' %>
      </div>
      <div class="span3">
        <%= label_tag :postal_code %>
        <%= text_field_tag :org_postal_code, params[:org_postal_code] || '', :class => 'search-field' %>
      </div>
    </div>

    <div>
      <%= submit_tag "Search", :class => 'btn primary', :name => nil %>
    </div>
  </div>
  <% end %>
</div>