<div class="container" id='phone_search' style="display:false;">
  <%= form_tag(results_providers_path, :method => 'post' ) do %>
    <%= hidden_field_tag :search, :true %>
    <div class="row">
      <h2>Phone Search</h2>
      <div class="span3">
        <%= label_tag :provider_telephone %>
        <%= text_field_tag :provider_telephone, params[:provider_telephone] || '', :class => 'search-field' %>
      </div>
      <div class="span3">
        <%= label_tag :practice_telephone %>
        <%= text_field_tag :practice_telephone, params[:practice_telephone] || '', :class => 'search-field' %>
      </div>
      <div class="span3">
        <%= label_tag :official_telephone %>
        <%= text_field_tag :official_telephone, params[:official_telephone] || '', :class => 'search-field' %>
      </div>
    </div>
    <div>
      <%= submit_tag "Search", :class => 'btn primary', :name => nil %>
    </div>
  </div>
  <% end %>
</div>