<div class="container" id='phone_search' style="display:false;">
  <%= form_tag(results_providers_path, :method => 'post' ) do %>
    <%= hidden_field_tag :search, :true %>
    <div class="row">
      <h2>Phone Search</h2>
      <div class="span3">
        <%= label_tag :phone %>
        <%= text_field_tag :phone, params[:phone] || '', :class => 'search-field' %>
      </div>
    </div>
    <div>
      <%= submit_tag "Search", :class => 'btn primary', :name => nil %>
    </div>
  </div>
  <% end %>
</div>