<p id="notice"><%= notice %></p>

<fieldset>
  <legend>Provider Information</legend>
  <p>
    <b>Name:</b>
    <%= @provider.name %>
  </p>
  <% if @provider.other_name %>
    <p>
      <b>Other Name:</b>
      <%= @provider.other_name %>
    </p>
  <% end %>
  <% if @provider.entity_type_code == '1' %>
    <p>
      <b>Gender:</b>
      <%= @provider.provider_gender_code %>
    </p>
  <% else %>
    <p>
      <b>Sole Proprieter?:</b>
      <%= @provider.is_sole_proprietor %>
    </p>
  <% end %>
</fieldset>
<fieldset>
  <legend>NPI Information</legend>
  <p>
    <b>NPI:</b>
    <%= @provider.npi %>
  </p>
  <p>
    <b>Entity Type:</b>
    <%= @provider.entity_type_code %>
  </p>
  <p>
    <b>Enumeration Date:</b>
    <%= @provider.provider_enumeration_date %>
  </p>
  <p>
    <b>Last Update Date:</b>
    <%= @provider.last_update_date %>
  </p>
  <p>
    <b>Replacement NPI:</b>
    <%= @provider.replacement_npi %>
  </p>
  <p>
    <b>Deactivation Date:</b>
    <%= @provider.npi_deactivation_date %>
  </p>
  <p>
    <b>Reactivation Date:</b>
    <%= @provider.npi_reactivation_date %>
  </p>
</fieldset>
<fieldset>
  <legend>Provider Business Practice Location Address</legend>
  <p>
    <b>Address:</b>
    <div><%= @provider.provider_first_line_business_practice_location_address %> <%= @provider.provider_second_line_business_practice_location_address %><br/>
    <%= @provider.provider_business_practice_location_address_city_name %>, <%= @provider.provider_business_practice_location_address_state_name %>  <%= @provider.provider_business_practice_location_address_postal_code %></div>
  </p>
  <p>
    <b>Phone Number:</b>
    <%= @provider.provider_business_practice_location_address_telephone_number %>
  </p>
  <p>
    <b>Fax Number:</b>
    <%= @provider.provider_business_practice_location_address_fax_number %>
  </p>
</fieldset>
<fieldset>
  <legend>Provider Business Mailing Address</legend>
  <p>
    <b>Address:</b>
    <div><%= @provider.provider_first_line_business_address %><br/>
    <%= @provider.provider_business_mailing_address_city_name %>, <%= @provider.provider_mailing_address_state_name %>  <%= @provider.provider_business_mailing_address_postal_code %></div>
  </p>
  <p>
    <b>Phone Number:</b>
    <%= @provider.provider_business_mailing_address_telephone_number %>
  </p>
  <p>
    <b>Fax Number:</b>
    <%= @provider.provider_business_mailing_address_fax_number %>
  </p>
</fieldset>
<fieldset>
  <legend>Taxonomies</legend>

  <table class="table">
    <thead>
      <th>Primary</th>
      <th>Taxonomy</th>
      <th>Description</th>
    </thead>
    <tbody>
      <% @provider.provider_taxonomies.each do |tax| %>
        <tr>
          <td class="span1"><%= tax.primary %></td>
          <td class="span1"><%= tax.taxonomy %></td>
          <td class="span10"><b><%= tax.description %></b> - <%= tax.definition %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</fieldset>
<fieldset>
  <legend>Provider Numbers</legend>

  <table class="table">
    <thead>
      <th>Type</th>
      <th>State</th>
      <th>Identifier</th>
      <th>Issuer</th>
    </thead>
    <tbody>
      <% @provider.provider_identifiers.each do |ident| %>
        <tr>
          <td><%= ident.type %></td>
          <td><%= ident.state %></td>
          <td><%= ident.identifier %></td>
          <td><%= ident.additional_info %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</fieldset>

<%= link_to 'Back', providers_path %>
